@use 'element-plus/theme-chalk/src/common/var.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/config.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/mixins.scss' as *;
@use './common/var.scss' as *;

@include b(drawer-v2) {
  @include set-component-css-var('drawer-v2', $drawerv2);
}

@include b(drawer-v2) {
  .#{$namespace}-drawer {
    background-color: getCssVar('drawer-v2-bg-color');
  }
  .#{$namespace}-drawer__header {
    padding: 0px;
    margin: 0px;
  }
  .#{$namespace}-drawer__body {
    padding: 0;
  }
  .#{$namespace}-drawer__footer {
    padding: 0;
  }

  &-trigger {
    display: inline-block;
  }

  &-header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid getCssVar('drawer-v2-border-color');
    .title {
      font-size: 16px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }
    i {
      cursor: pointer;
      flex: none;
    }
  }

  &-footer {
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 24px;
    border-top: 1px solid getCssVar('drawer-v2-border-color');
  }
}
